<header class="container">
    <h1>SUPER ARTICULOS STORE</h1>
</header>
<main id="mainContainer">
    <div class="view-user">
        <h5>Bienvenido {{roll}} : {{name}} {{lastName}}</h5>
        <form action="/logout" method="get">
            <input type="submit" value="Salir">
        </form>
    </div>
    <div class="page-buttons">
        <button id="prevButton" class="prev-button">Página Anterior</button>
        <button id="nextButton" class="next-button">Página Siguiente</button>
    </div>
    <div id="productContainer"></div>
</main>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="/js/product.handlebars.js"></script>